<!doctype html>
{% include 'header.html' %}
    {# <script type="text/javascript" src="{{ url_for('static', filename='reservesadmin.js') }}"></script> #}
      <h3>{{ _(message) }}</h3>
      <div id="admin_instructions" class="light">
        <h2>{{ _("To Add Reserves:") }}</h2>
        <p>{{ _("Fill out the form below with the course code, instructor, and bookbag ID to have it added to the reserve list.") }}</p>
        <h2>{{ _("To Modify/Delete Reserves:") }}</h2>
        <p>{{ _('''Click on the entry you wish to modify or delete from the list of reserves below. A window will appear where you
           can modify the reserve information and click on "Save" or simply click on "Delete This Reserve" to delete the reserve.''') }}</p>
      </div>
      <div>
        <h2>{{ _('Add Reserve') }}</h2>
        <form name="addreserves" action="{{ url_for('add_reserve') }}" method="post">
          <table>
          <tr>
            <td><label for="coursecode">{{ _('Course Code:') }}</label></td>
            <td><input type="text" name="course_code"/></td>
          </tr>
          <tr>
            <td><label for="instructor">{{ _('Instructor:') }}</label></td>
            <td><input type="text" name="instructor"/></td>
          </tr>
          <tr>
            <td><label for="bookbagid">{{ _('Bookbag ID:') }} </label></td>
            <td><input type="text" name="bookbag_id"/></td>
          </tr>
          </table>
          <input type="submit" name="submitButton" value="{{ _('Submit') }}"/>
          <input type="reset" value="{{ _('Clear') }}"/>
        </form>
      </div>

      <div id="reserves">
        <label>{{ _('Reserves on file:') }}</label>
        <input class="search" placeholder="{{ _('Filter...') }}" />
        <table>
          <tr>
            <th><button type="button" class="sort" data-sort="code">
              {{ _('Course Code') }}
            </button></th>
            <th><button type="button" class="sort" data-sort="instructor">
              {{ _('Instructor') }}
            </button></th>
          </tr>
          <tbody class="list">
            {% for reserve in data %}
            <tr>
              <td class="code">
              <button onclick="
                  document.getElementsByName('reserve_id')[1].value = '{{ reserve[3] }}';
                  document.getElementsByName('reserve_id')[1].value = '{{ reserve[3] }}';
              ">{{ reserve[0] }}</button>
              <td class="instructor">
              <button onclick="
                  document.getElementsByName('reserve_id')[0].value = '{{ reserve[3] }}';
                  document.getElementsByName('reserve_id')[1].value = '{{ reserve[3] }}';
              ">{{ reserve[1] }}</button>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <script type="text/javascript">
          var options = {
              valueNames: [ 'id', 'code', 'instructor' ]
          };
      
          var reserveList = new List('reserves', options);
      </script>

      <div>
        <h2>{{ _('Edit / Delete Reserves') }}</h2>
        <form id="edit_reserve" action="{{ url_for('edit_reserve') }}" method="post">
          <h3>{{ _('Edit Reserve') }}</h3>
          <input type="hidden" value="" name="reserve_id"/>
            <table>
            <tr>
              <td><label for="coursecode">{{ _('Course Code:') }}</label></td>
              <td><input type="text" name="course_code" value=""/></td>
            </tr>
            <tr>
              <td><label for="instructor">{{ _('Instructor:') }}</label></td>
              <td><input type="text" name="instructor" value=""/></td>
            </tr>
            <tr>
              <td><label for="bookbagid">{{ _('Bookbag ID:') }}</label></td>
              <td><input type="text" name="bookbag_id" value=""/></td>
            </tr>
          </table>
          <input type="submit" value="{{ _('Save') }}"/>
          <input type="reset" value="{{ _('Cancel') }}">
        </form>
        <form name="delete_reserve" action="{{ url_for('delete_reserve') }}" method="post">
          <h3>{{ _('Delete Reserve') }}</h3>
          <input type="hidden" name="reserve_id" value=""/><br/>
          <input type="submit" value="{{ _('Delete This Reserve') }}"/></br>
        </form>
      </div>
{% include 'footer.html' %}
