body {
  font-family: Helvetica, sans-serif;
  font-size: 0.9em;
}
h1 {
  color: #05A;
}
h2 {
  color: #05A;
}
h3 {
  color: #05A;
}
a {
  color: #05A;
  text-decoration: none;
}
a:visited {
  color: #05A;
  text-decoration: none;
}
a:hover {
  color: #FC2;
  text-decoration: underline;
}
div {
  margin-bottom: 1em;
}
div#header {
  display: fixed;
  width: 100%;
  height: 90px;
  border-bottom: 3px solid #05A;
}
div#header img {
  float:left;
}
div#header h1 {
  float:right;
}
#container {
  width: 960px;
  margin: 0 auto;
}
div.center {
  margin: auto;
  width: 70%;
}
.options {
  border:           solid 2px #05A;
  border-radius:    .5em;
  padding:          3px;
  font-size:        16px;
  position:   absolute;
  right:      5px;
  top:        5px;
  float:      top-right;
}

.collapsed {
    display: none;
}
.collapsed:target {
    display: block;
}

.content > div{
    border: 2px solid #05A;
    border-radius: .25em;
    padding: .25em;
}
input.search{
    margin: 0px 0px 2px 0px;
}
button.sort {
    width: 100%;
    background-color: #DDD;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
}
button.sort:hover {
    background-color: #EEE;
}
button.sort.asc:before {
    content: "\25B2 ";
}
button.sort.desc:before {
    content: "\25BC ";
}
#reserves table {
    width: 100%;
    padding: 2px;
    text-align: center;
    table-layout: fixed;
}
#reserves tr[onclick]:hover {
    background-color: #EEE;
}
#reserves th {
    padding: 0px;
    border: 1px solid #444
}
#reserves td {
    padding: 4px;
    border: 1px solid #888;
}
#reserves th, td {
    width: 1%;
}
#reserves table, th, td {
    border-spacing: 0px;
    border-collapse: collapse;
}

form > table {
    width: auto;
    height: auto;
}
form > table td {
    width: auto;
    height: auto;
}
/*
input[type="submit"] {
  position: relative;
  margin-top: 10px;
  left: 180px;
}
*/
